* {
    margin-top: 0;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.overview {
    border-style: none;
}
.fixed_header {
  position:-webkit-sticky;
  position: sticky;
  top: 0;
}
